.error {
  background-color: crimson;
  color: white;
}

.success {
  background-color: green;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.header-links {
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: flex-start;
}

ul.header-links li {
  margin-right: 5px;
}

.header-status-login {
  display: flex;
}